<section class="acerca-de">
    <div class="contenedor">
        <div class="texto">
            <h3 class="titulo">Cualidades</h3>
            <p>Soy una persona responsable, creativa, con iniciativa y puntualidad, asumo con agrado los retos; con buen
                manejo de relaciones interpersonales, facilidad para trabajar en equipo, así como para resolver
                problemas eficientemente y lograr las metas trazadas con mi grupo de trabajo.</p>
        </div>
    </div>
</section>