<header>
    <div class="pic"><img src="assets/img/pic3.jpg" alt="Jefferson Pineda"></div>
    <div class="nombre">
        <p>
            <span>{{nombre}}</span> Desarrollador web
        </p>
    </div>
    <div class="perfil">
        <img src="assets/img/perfil.jpeg" alt="profilePic">
    </div>
</header>